################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HttpsCallSampleApplication/obj
/HttpsCallSampleApplication/bin/Debug/net5.0
/.vs
